/*Estilor root*/
:root {
  --color-fons: white;
  --color-principal:green;
  --color-fosc: black;
  --color-clar: white;
  --espaci-petit: 0.5rem;
  --espai-mitja: 1rem;
  --espai-gran: 2rem;
  --box-w: 100px;
  --box-h: 100px;
}
/*Creacion de la navbar*/
.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:whitesmoke;
  backdrop-filter: blur(10px);
}
/*Poner los enlaces como quiero (elegir el color y quitar el subrallado)*/
.navbar a {
  color: black;
  text-decoration: none;
}
/*Cambiar el color cuando paso por encima */
.navbar a:hover {
  color: peru;
}
/*Quitar formato de lista y poner como quiero */
.navbar ul {
  list-style: none;      
  display: flex;    
  gap: var(--espai-mitja);
  justify-content: center;
  padding: var(--espai-mitja);
}
/* Títulos */
h1, h2 {
  font-family: 'Poppins', sans-serif;
}
/* Texto y párrafos */
body, p {
  font-family: 'Inter', sans-serif;
}

/*CSS PARA INDEX:HTML*/
.hero {
  text-align: center;
}
/* Título grande */
.hero h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}
/* Subtítulo */
.hero p {
  font-family: 'Inter', sans-serif; 
  font-size: 1.2rem;
}
/* Botón con icono */
.btn {
  display: inline-flex;
  align-items: center;
  padding: var(--espaci-petit) var(--espai-mitja);
  background: var(--color-principal);
  color: var(--color-clar);
  text-decoration: none;
}
.btn:hover {
  background: peru;
}
/*Seccion de las tres targetes*/
.grid {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.card h2 {
  margin: 0 0 8px;
  font-size: 1.05rem;
  color: #333;
}
.box {
  background: #3498db;
  height: var(--box-h);
  transition: all 0.6s ease;
  width: var(--box-w);
}
/* 1) Color */
.box.color {
  background-color: var(--color-principal);
  transition: background-color 0.8s ease;
}
.box.color:hover {
  background-color: peru;
}
/* 2) Mida */
.box.mida {
  background-color: peru;
  transition: width 0.8s ease, height 0.8s ease;
}
.box.mida:hover {
  width: 160px;
  height: 160px;
}
/* 3) Posició (fem servir transform per no desmuntar el layout) */
.box.posicio {
  background-color: var(--color-principal);
  transition: transform 0.8s ease-in-out;
}
.box.posicio:hover {
  transform: translateX(80px);
}
/*Seccion submenu*/
.submenu nav {
  display: flex;
  justify-content: center;
  gap: var(--espai-mitja);
  margin: var(--espai-gran) 0;
}
.submenu a {
  color: var(--color-fosc);
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  padding: var(--espaci-petit) var(--espai-mitja);
  transition: color 0.3s, letter-spacing 0.3s; 
}
.submenu a:hover {
  color: var(--color-principal);       
  letter-spacing: 1rem;              
}
